<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WarSimulation.Configs.Server" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WarSimulation.Configs.ServerConfig" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <WarSimulation.Configs.Server>
            <setting name="Host" serializeAs="String">
                <value>http://localhost</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>6000</value>
            </setting>
        </WarSimulation.Configs.Server>
    </applicationSettings>
    <userSettings>
        <WarSimulation.Configs.ServerConfig>
            <setting name="Host" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>10000</value>
            </setting>
        </WarSimulation.Configs.ServerConfig>
    </userSettings>
</configuration>