<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Config.Configs.ServerConf" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Config.Configs.ServerConf>
            <setting name="Host" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>6000</value>
            </setting>
            <setting name="TeamName" serializeAs="String">
                <value>Hadaf</value>
            </setting>
            <setting name="HostIP" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="LogFile" serializeAs="String">
                <value>Logs/Log.log</value>
            </setting>
            <setting name="CircleDegree" serializeAs="String">
                <value>180</value>
            </setting>
            <setting name="GameTime" serializeAs="String">
                <value>15000</value>
            </setting>
        </Config.Configs.ServerConf>
    </userSettings>
</configuration>